{% extends "users/base_form.html" %}
{% block title %} Password reset {% endblock %}
{% load user_filters %}
{% block header %}
  To reset your current password enter the email you registered with
{% endblock %}
{% block body %}
<div class="card-body"> 
  <form method="post" action="{% url 'users:password_reset_form' %}">
    {% csrf_token %}
    <div class="form-group row my-3 p-3">
      <label for="id_email">
        Email
        <span class="required text-danger">*</span>
      </label>    
      <input type="email" name="email" maxlength="254" class="form-control" required id="id_email">
    </div>
    <div class="col-md-6 offset-md-4">
      <button type="submit" class="btn btn-primary">
        Reset password
      </button>
    </div>
  </form>
{% endblock %}
