{% extends "users/base_form.html" %}
{% block title %} Password change {% endblock %}
{% load user_filters %}
{% block header %} Password change {% endblock %}
{% block body %}
    <form method="post" action="{% url 'users:password_change' %}">
    {% csrf_token %}
      <div class="form-group row my-3 p-3">
        <label for="id_old_password">
          Old password
          <span class="required text-danger">*</span>
        </label>    
        <input type="password" name="old_password" autofocus class="form-control" required id="id_old_password">
      </div>
      <div class="form-group row my-3 p-3">
        <label for="id_new_password1">
          New password
          <span class="required text-danger">*</span>
        </label>    
        <input type="password" name="new_password1" class="form-control" required id="id_new_password1">
          <small id="id_new_password1-help" class="form-text text-muted">
            <ul>
              <li>Your password can't be too similar to your other personal information.</li>
              <li>Your password must contain at least 8 characters.</li>
              <li>Your password can't be a commonly used password.</li>
              <li>Your password can't be entirely numeric.</li>
            </ul>
          </small>
      </div>
      <div class="form-group row my-3 p-3">
        <label for="id_new_password2">
          Confirmation
          <span class="required text-danger">*</span>
        </label>    
        <input type="password" name="new_password2" class="form-control" required id="id_new_password2">
      </div>
      <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary">
          Change password
        </button>
      </div>
    </form>
{% endblock %}
