{% load static %}
<nav class="navbar navbar-dark" style="background-color: #323232">
    <div class="container">
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo.jpg' %}" width="30" height="30" class="d-inline-block align-top">
      </a>
      {% with request.resolver_match.view_name as view_name %} 
      <ul class="nav nav-pills">
        <!-- <li class="nav-item"> 
          <a class="nav-link link-light
            {% if view_name  == 'about:author' %} active
            {% else %} underline
            {% endif %}" href="{% url 'about:author' %}">
            About the author
          </a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link  link-light
            {% if view_name  == 'about:tech' %} active
            {% else %} underline
            {% endif %}" href="{% url 'about:tech' %}">
            Tech
          </a>
        </li> -->
        {% if user.is_authenticated %}
        <li class="nav-item"> 
          <a class="nav-link link-light
            {% if view_name  == 'posts:post_create' %} active 
            {% else %} underline
            {% endif %}" href="{% url 'posts:post_create' %}">
            New post
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link
            {% if view_name  == 'users:password_change' %} active
            {% else %} underline
            {% endif %} link-light" href="{% url 'users:password_change' %}">
            Change password
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light
          {% if view_name  == 'users:logout' %} active
          {% else %} underline
          {% endif %}" href="{% url 'users:logout' %}">
            Sign out
          </a>
        </li>
        <li class="navbar-text link-light" style="font-weight: 500">
          User: {{ user.username }}
        </li>
        {% else %}
        <li class="nav-item"> 
          <a class="nav-link link-light
            {% if view_name  == 'users:login' %} active
            {% else %} underline
            {% endif %}" href="{% url 'users:login' %}">
            Sign in
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light
            {% if view_name  == 'users:signup' %} active
            {% else %} underline
            {% endif %}" href="{% url 'users:signup' %}">
            Sign up
          </a>
        </li>
        {% endif %}
        {% endwith %}
      </ul>
    </div>
  </nav>
  <style>
    .nav-pills .underline {
      text-underline-offset: 0.1em;
      text-decoration-color: #323232;
      transition: text-decoration-color 250ms;
    }

    .nav-pills .underline:hover {
      text-decoration: underline 2px;
      text-decoration-color: red;
    }

    .nav > .nav-item > .active {
      background-color: #626262
    }
  </style>
